<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CarPass Dashboard</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <script src="/static/kit.min.js" crossorigin="anonymous"></script>
    <script src="/static/modal.js"></script>
</head>
<body>
<section class="section">
    <div class="container">

        <h1 class="title">CarPass - для клиента</h1>

        <div class="tabs">
            <ul>
                <li class="is-active"><a>Главная</a></li>
            </ul>
        </div>

        <div class="columns">
            <div class="column">
                <article class="panel is-warning">
                    <p class="panel-heading">Информация о пропуске</p>
                    <div class="panel-block">
                        Идентификатор: {{ p.id }}
                    </div>
                    <div class="panel-block" style="border: 0">
                        <div class="content">
                            <h4 class="title is-4">
                                {{ p.owner_fio }}
                            </h4>
                            <p>
                                Пропуск дает разрешение человеку с {{ p.date_start }} по {{ p.date_end }} заходить на
                                закрытую территорию "{{ p.object_title }}", по причине: {{ p.owner_why }}
                            </p>
                            {% if p.comment|length == 0 or p.comment|length == 1 %}
                            {% else %}
                                <blockquote>
                                    <h4>Комментарий</h4>
                                    {{ p.comment }}
                                </blockquote>
                            {% endif %}
                        </div>
                    </div>


                    <div class="panel-block">
                        <div class="buttons">
                            <a href="/dashboard" class="button is-link is-light">
                                Вернутся на главную
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>

</body>
</html>